.DS_Store

application/
system/
user_guide/
public/images/
_resources/
.idea/
config.codekit
.htaccess
.travis.yml
alt_sitemap.xml
index.php
info.php
license.txt
php_errorlog
robots.txt
test.php
util.php
